type: http
name: matrix_alerts
log_level: info
group_wait: 30s
group_threshold: 5
max_retry: 3
timeout: 10s
format: |
  {
    "edge": "{{ crowdsec_console_engine_name }}",
    "alerts": {% raw %}{{ . | toJson }}{% endraw %}
  }
url: {{ crowdsec_matrix_webhook_url }}
method: POST
headers:
  Authorization: "Bearer {{ crowdsec_matrix_webhook_secret }}"
  Content-Type: application/json
skip_tls_verification: false
