COMPOSE_PROJECT_NAME=nerocd
NEROCD_IMAGE={{ nerocd_image }}
NEROCD_PROXY_NETWORK={{ nerocd_proxy_network }}
NEROCD_PUBLIC_ORIGIN={{ nerocd_public_origin }}
NEROCD_TRUSTED_PROXY_CIDRS={{ nerocd_proxy_subnet }}
NEROCD_OWNER_DATABASE_USER={{ nerocd_owner_database_user }}
NEROCD_APP_DATABASE_USER={{ nerocd_app_database_user }}
NEROCD_DATABASE_URL_SECRET={{ nerocd_secrets_dir }}/owner-database-url
NEROCD_APP_DATABASE_URL_SECRET={{ nerocd_secrets_dir }}/app-database-url
NEROCD_POSTGRES_PASSWORD_SECRET={{ nerocd_secrets_dir }}/postgres-password
NEROCD_BACKUP_SCHEDULE_ENABLED=true
NEROCD_BACKUP_INTERVAL_SECONDS={{ nerocd_backup_interval_seconds }}
NEROCD_BACKUP_RETENTION_COUNT={{ nerocd_backup_retention_count }}
NEROCD_COOKIE_SECURE=true
