[Unit]
Description=Beszel outbound monitoring agent
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=beszel
Group=beszel
{% if beszel_agent_linux_capabilities | length > 0 %}
AmbientCapabilities={{ beszel_agent_linux_capabilities | join(' ') }}
CapabilityBoundingSet={{ beszel_agent_linux_capabilities | join(' ') }}
{% endif %}
EnvironmentFile=/etc/beszel-agent/agent.env
ExecStart=/usr/local/bin/beszel-agent
Restart=on-failure
RestartSec=5
StateDirectory=beszel-agent
StateDirectoryMode=0750
UMask=0027
KeyringMode=private
LockPersonality=true
NoNewPrivileges=true
PrivateTmp=true
ProtectClock=true
ProtectHome=read-only
ProtectHostname=true
ProtectKernelLogs=true
ProtectSystem=strict
RemoveIPC=true
RestrictSUIDSGID=true

[Install]
WantedBy=multi-user.target
