HUB_URL={{ beszel_agent_hub_url }}
KEY_FILE=/etc/beszel-agent/hub-key
TOKEN_FILE=/etc/beszel-agent/token
SYSTEM_NAME="{{ beszel_agent_system_name | replace('"', '') }}"
DATA_DIR=/var/lib/beszel-agent
DISABLE_SSH=true
{% if beszel_agent_service_patterns | length > 0 %}
SERVICE_PATTERNS="{{ beszel_agent_service_patterns | replace('"', '') }}"
{% endif %}
{% if beszel_agent_smart_devices | length > 0 %}
SMART_DEVICES="{{ beszel_agent_smart_devices | replace('"', '') }}"
SMART_INTERVAL={{ beszel_agent_smart_interval }}
{% endif %}
{% if beszel_agent_exclude_smart_devices | length > 0 %}
EXCLUDE_SMART="{{ beszel_agent_exclude_smart_devices | replace('"', '') }}"
{% endif %}
